.content{
    flex:1;
    background-color: #fcf5eb !important
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.card-text{
    font-size: 0.85rem;
    font-weight: 400;
    color: #696767;
}
.form-title{
    font-size: 1.01rem;
    font-weight: 600;
    font-style: normal;
    color: #141313
}
.form-label{
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    color: #746d6d
}
.form-input{
    font-size: 0.80rem;
    font-style: normal;
    color: #000000
}
.form-btn{
    background-color: var(--main-btn-color);
    border-color: var(--main-btn-color);
}
